@import '~bootstrap-material-design/dist/css/bootstrap-material-design.min.css';
@import "~toastify-js/src/toastify.css";

.agora-github-pin {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADYAAAA2CAYAAAH7QlpLAAAABGdBTUEAALGPC/xhBQAABtVJREFUaAXdWnlsFFUY/81uu71p7QW0VIRUSKRyhBgUDUrARETkHwEbSyQIQTQYEAMqECFURQOiEBJCiGICVEAaa9AYQjUpYjzQBEQBiRy2pdCbo9sue4zzPfgmb3Znp7Ptbmk7Sfd7733H7/u9a+bNVLlcPCLb729rgHYV7K9VSPIlKlYGwpAMAh636rvWpLKnQQqDQECtnp0vDAwYZCkMXI4Gtf0GHAZXrZJX9k+j41YgJ7jdUKcICscnjSkVKwMRjgwCUqbUaMg2OIJBSdayQYgy2IDqIRdFEJ7EiUdGtgqmJutE71GPkZHTmSJ6TUlKEzY3K/fqYyA7hS1TBpQO/fma6tTArY6uBWjaskT11lcbApj2TnAqZn1gy5EDmQVgnS1JAQwzS/ayGgqRpjwd7Djq3CJx1JeMnE7qU/N1QLNguhNZsWPKk3PhzByMhKJHhXOwo56eHlorkFF6yWpc210qN+tBDUhsQYiyQ/q8dULFiKZI7ExGSROmA04n2n/6mptD9w5doxUIsf2Xb5A67SW52bi+DRqpwmlxk2V6bERSdrTtFOwoB+y0LCN2aiwbiPQiXS88c+RAdsqGvog1qAGMswsHSjMxsegxxA28F7Vz72dzfTrrDWEKpmBsK4PGDyuCt+Yc4PUItahfOMWmQnbWvZZgHEkGpbbMJVvRvHWJUCspGXCkZsB/9aKo009noLqhVYFAaSrSX9vRctV79ZJaM7dQv736O9xCxzZWsWzrZNCOs8fV2oVj1dpF48W9p/HjxWrA6zEFtdWN4bKQuzdhzBNIfmQGru0pRcaCDWjevCjErVtgHE0GTS9Zo22+61llkFEB44gyKLfJMqpgHDgcaEzAwoHGFCwYVKmZM+SEqqqjWWElFTg2D9lf/bqVjZVOMOspQL0bewJQByP6sQY0gMUaMOSJasi+mjGKopwMGWjFAU2H7FVlSJ3xslCrCCyrmV3wUYhtmIYQMLIzA8zfc566GY3vFsN13yg9XCSApmCmgAG/DtBWdVAvU8EuYMiYGaJoFZ40cYOGIfe9Q9BuXnBXHYDiSsKt87d72/19mXDrbB12CkZRGFBE1H6yVu5C0wfzRJXGkbqXLyvAsN3IziSDx1Bxxgu1MysP7mMVSJnyAhLHTxVtVl1qi5mIov0wQ0d6NgZu+E4A+erOI27wcHgv/gXPuT/0ZxEzhhGBESgDUpkYERDfLHPeOYCGdbNIJa5gQFvdyM4k5S51H/sK8cMfFOrc979F48aFyC+7FLZLI2bGwDLDAc+vwI3yLcj7/CxqSwqRMnkO/C1X0PH7EWHODLsMRlFkQGJUWzwUuR8eRv2b0wBpXZItAXYLTAZUElOQs2Yf6lc9Q82mV7fBKCozJEDVr+003o7YgcmApih3GqPCjAGYIdeDZVTBKLgVYNTBrABjAhYOMGZgZoAxBQsGjDlYMCDVY37RLBXM6NQRCLgr7T6GR5IZb8KR+ETD1jBk/YmggRj3VH8gaEqsPxC0JNZdgvFDH0Di2MnanduLjhNV8FWf4ZC6jNUatPXISB9o6FGRPtCYHtv0NG8XBsxajvzd/yKuYCRuVGzDzUM7oDgcyPvsNBJGTTRY05M6vVOL5IhnCBCmYmvEgn2t1mDCmMeR/cZO1M4v0l+Bsn/O+gp4tVFr3bGSm0JktEawS8Q4G1OC2qE7t7RCOyH+idZPV0OJd8E1Yjw8p44Jt+RJz4mPEPEFI+C7+h+uH9iE9p8PcUhddpdgt4hxFqYE41xIGPkQlMQkeM78BlfhOOS8vRvN25Zqx+Mv2RWJ46Yg87WtuLxAe5Pl9+ntXOgqwagQ4yRMCd5RZmtnDc/JKrHm2J5k0oSnNWLbcHn+KKgeN5xZg+FvqpNNRDlSglElxtmYEVSSB2DQpkp4Tv8K94/liMsrRNrMVxG42YL61TOR/PB0ZCzcgI7jh5EwehKaP1msHyE5Lkm7BGNCjBMxI8g6lnTyJ0K0c/Lpn3RZK3Yh0NaKFm3qml2dEYwpMU7IlKC2yeSsPQhndh6uLJ1k2EEdaZkYuPEI2ir34vr+jUia+KyYpvwSgOOSDEewR4hxImYE6eidtWy72DnpK5lL+1rmq69G06YFoBs8fcRq++ELeLUvZhkvrkWT9qXFDsEeJWZFkHUkaYSIkPtoOeK1V6e+ugvamntFvE1JmVoidtiW7ctlF73MI3hXiHEW4UYwe9Ve7UnFiYbSYoj/7km7R6y51p1vwXvpb3a3lHeVGGdmlyDb25G9ghgnakaQdZHKXkWMk48GwV5JLBoEezWx7hDsE8S6QrBPEYuEYJ8kZodgnyZmRbBfELMiyLp+Iek++D86vB3Xmaq79gAAAABJRU5ErkJggg==") no-repeat round;
  width: 55px;
  height: 55px;
  position: absolute;
  right: 0;
}

$theme-primary: #1E88E5;
$theme-dark: #424242;
html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background: #fafafa;
}

.custom-row-container {
  display: flex;
  margin: 0 15px;
}

.agora-dark-bg {
  background-color: #424242;
  color: #fff;
}
.agora-primary-bg {
  color: #fff;
  background-color: $theme-primary !important;
  align-items: center;
}

.card-body.agora-expand-card {
  color: #fff !important;
  background-color: #424242 !important;
}

.btn.agora-expand-btn {
  width: 398px;
  // height: 52px;
  color: #fff !important;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #424242 !important;
  display: flex;
  padding: 0 24px 0 24px;
  min-height: 48px;
  transition: min-height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  text-decoration: none;
  margin: 0;
}

.btn.agora-primary-bg:hover {
  background-color: rgb(21, 95, 160) !important;
}

.navbar {
  display: flex;
  align-content: center;
  height: 54px;
  z-index: 9;
}

h5 {
  margin: 0;
}

.custom-container {
  margin: left;
  margin: 0 15px;
  margin-top: 88px;
  box-sizing: border-box;
  position: relative;
}

.card.custom-card {
  width: 398px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 10px;
}

.video-grid {
  margin-left: 25px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2,auto);
  grid-template-rows: auto;
}

.card {
  width: 398px;
}

.radio-list {
  display: flex;
  margin: auto;
  margin-top: 10px;
}

.radio-list > .radio {
  margin: 0 10px;
  width: 50px;
}

#local_stream {
  position: relative;
}

#local_video_info {
  position: absolute;
}

.video-view {
  position: relative;
}

.video-view, 
.video-placeholder,
#local_stream, #local_video_info {
  width: 480px;
  height: 320px;
}

.video-profile {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  z-index: 2;
  color: #fff;
  opacity: 0.9;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 10px;
}

.network-profile.hide {
  display: none;
}

.video-profile.hide {
  display: none;
}

.btn-group {
  display: flex;
}

.flex-container {
  display: flex;
  width: 100%;
}

.flex-item {
  display: flex;
  flex: 1;
  align-items: center;
}

.network-profile {
  position: absolute;
  top: -32px;
  left: 0;
  width: 400px;
}

.network-item {
  display: flex;
  align-items: center;
}

.network-label {
  width: 55px;
  margin: 0;
}

.progress {
  display: inline-block;
  width: 341px;
}

.progress-bar {
  height: 10px;
}
