@import '../../assets/color.scss';

#page-index {
  background: url('../../assets/images/ag-index-background.png') center no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  .ag {
    &-footer {
      display: flex;
      padding: 0 2.14rem;
      justify-content: space-between;
      align-items: center;
    }
    &-contact {
      color: $light-blue;
    }
  }
}

.login {
  &-wrapper {
    max-width: 21rem;
    font-size: 1rem;
  }

  &-header {
    text-align: center;
    margin: 2.14rem 0;
    p {
      margin: .71rem 0;
    }
    img {
      width: 50%;
    }
  }

  &-footer {
    text-align: center;
    margin: 2.14rem 0;
  }

  &-title {
    font-size: 1.14rem;
    color: $white;
  }

  &-subtitle {
    color: $grey;
  }
}

#channel {
  background: transparent;
  color: $white;
  padding: .57rem 3.57rem;
  height: 2.5rem;
  margin-bottom: 1rem;
  &-wrapper {
    // padding-bottom: 2.14rem;
    >span {
      height: 2.5rem!important;
    }
    &.has-icons-left .icon.is-left {
      left: 1.07rem;
    }
  }

  &:focus:not(.is-success):not(.is-danger) {
    border-color: $light-blue;
  }
  &::-webkit-input-placeholder {
    color: $white;
    opacity: .5;
  }
}

#baseMode {
  font-size: 1rem;
  width: 11.43rem;
  border: 0.07rem solid transparent!important;
}

#joinBtn {
  width: 100%;
  font-size: 1.28rem;
  padding: 0.71rem;
  background: $light-blue;
  &:hover {
    box-shadow: 0 .14rem .14rem .07rem $blue;
    transition: box-shadow .1s ease-in-out;
  }
}

#advancedProfile {
  width: 7.5rem;
  font-size: .86rem;
  height: 2.29rem;
  color: $light-blue;
  background: transparent;
  border: .07rem solid $light-blue;
  &hover {
    transition: .1s background ease-in-out;
    background: $cyan;
  }
}

#attendeeMode {
  line-height: 1.3;
  input[type="radio"] {
    position: fixed;
    left: 1000rem;
    &:checked+.radio-btn {
      background-size: cover;
      background: url('../../assets/images/ag-oval-active.png') no-repeat center;
      +.radio-img {
        &.video {
          background: url('../../assets/images/ag-video-active-s.png') no-repeat center;
        }
        &.audio {
          background: url('../../assets/images/ag-mic-active-s.png') no-repeat center;
        }
        &.audience {
          background: url('../../assets/images/ag-audience-active.png') no-repeat center;
        }
        +.radio-msg {
          color: $light-blue;
          opacity: 1;
        }
      }
    }
  }
  .radio {
    display: flex;
    align-items: center;
  }
  .radio-img {
    width: 30px;
    height: 30px;
    &.video {
      position: relative;
      left: .21rem;
      background-size: cover;
      background: url('../../assets/images/ag-video-s.png') no-repeat center;
    }
    &.audio {
      background: url('../../assets/images/ag-mic-s.png') no-repeat center;
    }
    &.audience {
      background: url('../../assets/images/ag-audience.png') no-repeat center;
    }
  }
  .radio-btn {
    width: 24px;
    height: 24px;
    margin-right: .71rem;
    background: url('../../assets/images/ag-oval.png') no-repeat center;
  }
  .radio-msg {
    margin-left: .71rem;
    color: $grey;
  }
}

#baseModeOptions {
  .dropdown-item {
    text-align: center;
    padding: .57rem;
    cursor: pointer;
    &:hover {
      background: #e8ecee;
      p:first-child {
        color: $light-blue;
      }
    }
    p:first-child {
      font-size: 1rem;
      font-weight: bold;
      color: $dark-cyan;
    }
    hr {
      margin: .71rem;
    }
    p:nth-child(3) {
      font-size: .86rem;
      color: rgba(0, 0, 0, .5);
    }
  }
}

#advancedOptions {
  font-size: 1rem;
  width: 23rem;
  .dropdown-content {
    border-radius: .86rem;
    border: .07rem solid $light-blue;
    background: $cyan;
    text-align: center;
    padding: .86rem .21rem;
    cursor: pointer;
    .dropdown-item {
      display: flex;
      color: $white;
      align-items: center;
      justify-content: space-around;
      select {
        width: 15rem;
      }
    }
  }
  .dropdown-item:first-child {
    color: $white;
    white-space: nowrap;
  }
  .radio:hover {
    color: $white;
  }
  // .dropdown-item:nth-child(2) select {
  //   padding: 0 .71rem;
  // }
}

.validate {
  &-msg {
    animation: tooltip .3s ease-in-out;
    width: 100%;
    position: relative;
    color: $red;
    text-align: center;
  }
  &-icon {
    position: absolute;
    right: -2.5rem;
    top: 0;
    color: $red;
    font-size: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    >.icon-wrong {
      color: $red;
    }
    >.icon-correct {
      color: $green;
    }
  }
}

#dropdown-container {
  display: flex;
  justify-content: space-between;
  flex: 1 1 0;
  margin-bottom: 1rem;
}

.dropdown.is-active {
  .dropdown-menu {
    animation: dropdown .25s ease-in-out
  }
  #advancedProfile {
    transition: .1s background ease-in-out;
    background: $cyan;
  }
}

@keyframes dropdown {
  from {
    opacity: 0;
    transform: scale(.92) translate(0, -4px)
  }
  to {
    opacity: 1;
    transform: scale(none) translate(none)
  }
}

@keyframes tooltip {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 2.5rem;
  }
}